{% load static %}
<html>
  <head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="header">
      <h1><a href="/">Cheer</a></h1>
      {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}">新規投稿</a>
        <a href="{% url 'post_draft_list' %}">草稿一覧</a>
        <a href="{% url 'my_post_list' %}">自分の投稿</a>
        <p >Hello {{ user.username }}</p>
        <a href="{% url 'logout' %}">ログアウト</a>
      {% else %}
        <a href="{% url 'login' %}">ログイン</a>
        <a href="{% url 'signup' %}">新規登録</a>
      {% endif %}
    </div>
    <hr>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
