{% extends 'cheer_app/base.html' %}

{% block content %}
  <h1>マイページ</h1>

  <div class="post">
    <h2>投稿一覧</h2>
    {% for post in posts %}
      {% if post.author.username == user.username %}
          <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <div class="comment">
    <h2>最近の応援</h2>
    {% for post in posts %}
      {% if post.author.username == user.username %}
        {% for comment in post.comments.all %}
          {% if comment.text != "" %}
            <p>{{ comment }} <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="draft">
    <h2>草稿一覧</h2>
    {% for draft in drafts %}
      {% if draft.author.username == user.username %}
        <p><a href="{% url 'post_detail' pk=draft.pk %}">{{ draft.title }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <div class="achievement">
    <h2>達成した目標</h2>
    {% for post in achievement_posts %}
      {% if post.author.username == user.username %}
          <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
