{% extends 'cheer_app/base.html' %}

{% block content %}
  <div class="post">
    {% if post.published_date %}

    {% else %}
      <a href="{% url 'post_publish' pk=post.pk %}">公開</a>
    {% endif %}
    {% if post.author.username == user.username %}
      <a href="{% url 'post_edit' pk=post.pk %}">編集</a>
      <a href="{% url 'post_remove' pk=post.pk %}">削除</a>
      {% if post.achievement != True %}
        {% if post.published_date %}
          <a href="{% url 'post_achieve' pk=post.pk %}">達成</a>
        {% endif %}
      {% endif %}
    {% endif %}
    <h1>{{ post.title }}</h1>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>

    {% if post.achievement != True %}
      <hr>
      <a href="{% url 'add_comment_to_post' pk=post.pk %}">応援する</a>
    {% endif %}

    <div class="cheer_count">
      <p>応援された数：{{ post.comments.count }}</p>
    </div>

    <hr>
    <p>応援コメント一覧</p>
      {% for comment in post.comments.all %}
        <div class="comment">
          <!--<a href="{% url 'comment_remove' pk=comment.pk %}">削除</a>-->
          {% if comment.text %}
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
          {% endif %}
        </div>
      {% empty %}
        <p>まだ応援されてません</p>
      {% endfor %}
{% endblock %}
